doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Aircraft Management System - Login
    link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap", rel="stylesheet")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")
 
    link(rel='stylesheet', href='/stylesheets/style2.css')
    
    title= title
   
    
  body
    .head
      a(href='/homePage?username=admin' title='home')
 
      h4 Aircraft Structural Maintainance System
      h6 Designed by Eze Opara
      //- h4.title Imperium Management Payroll (IMP)
    //- h4.meaning-5 Staff management system
    
    block content
    
